<header id="home-section" class="mb-4">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row"> 
                <div class="col-lg-4 mt-5">
                    <div class="card bg-muted text-center card-form">
                        <div class="card-body">
                            <app-register></app-register>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


