<div class="container" *ngIf="!showloader">
  <div class="d-flex justify-content-center">
    <h4 class=" mt-5"> View Application </h4>
  </div>
  <div class="d-flex justify-content-center">
    <img [src]="img">
  </div>
  <ng-template [ngIf]="!showgrid">
    <div id="loader" class="loader"></div>
  </ng-template>
  <ng-template [ngIf]="showgrid">
    <div class="form-row">
      <div class="form-group col-md-4">
        &nbsp;
        <button class="btn btn-sm btn-outline-primary mt-4 " (click)="ExportPDF()">
          Export to PDF
        </button>
      </div>
    </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Property</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="profile.photo">
          <th scope="row"></th>
          <td class="text-uppercase">Photo</td>
          <td>
            <img src="{{profile.photo}}" alt="Photo" width="200" height="200">
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td class="text-uppercase">Adhar</td>
          <td>{{profile.Adhar}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td class="text-uppercase"> Name</td>
          <td>{{profile.name}}</td>
        </tr>        
        <tr>
          <th scope="row">3</th>
          <td class="text-uppercase">Phone</td>
          <td>{{profile.phone}}</td>
        </tr>
        <tr >
          <th scope="row">4</th>
          <td class="text-uppercase">dob</td>
          <td>{{profile.dob}}</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td class="text-uppercase">Gender</td>
          <td>{{profile.gender}}</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td class="text-uppercase">father husband Name</td>
          <td>{{profile.fatherhusbandName}}</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td class="text-uppercase">father husband Id</td>
          <td>{{profile.fatherhusbandId}}</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td class="text-uppercase">father husband dob</td>
          <td>{{profile.fatherhusbanddob}}</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td class="text-uppercase">Phone</td>
          <td>{{profile.motherName}}</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td class="text-uppercase">address</td>
          <td>{{profile.address}}</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td class="text-uppercase">district</td>
          <td>{{profile.district}}</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td class="text-uppercase">language</td>
          <td>{{profile.language}}</td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td class="text-uppercase">family Income</td>
          <td>{{profile.familyIncome}}</td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td class="text-uppercase">Rented Or Self Home</td>
          <td>{{profile.rentedOrSelfHome}}</td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td class="text-uppercase">loan Amount</td>
          <td>{{profile.loanAmount}}</td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td class="text-uppercase">loan Procesing Fee</td>
          <td>{{profile.loanProcesingFee}}</td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td class="text-uppercase">insurance Fee</td>
          <td>{{profile.insuranceFee}}</td>
        </tr>
        <tr>
          <th scope="row">18</th>
          <td class="text-uppercase">loanPurpose</td>
          <td>{{profile.loanPurpose}}</td>
        </tr>
        <tr>
          <th scope="row">19</th>
          <td class="text-uppercase">co insurerName</td>
          <td>{{profile.coinsurerName}}</td>
        </tr>
        <tr>
          <th scope="row">20</th>
          <td class="text-uppercase">ciGeneder</td>
          <td>{{profile.ciGeneder}}</td>
        </tr>
        <tr>
          <th scope="row">21</th>
          <td class="text-uppercase">ci dob</td>
          <td>{{profile.cidob}}</td>
        </tr>
        <tr>
          <th scope="row">22</th>
          <td class="text-uppercase">ci Id Proof</td>
          <td>{{profile.ciIdProof}}</td>
        </tr>
        <tr>
          <th scope="row">23</th>
          <td class="text-uppercase">PIN</td>
          <td>{{profile.pin}}</td>
        </tr>
        <tr>
          <th scope="row">24</th>
          <td class="text-uppercase">Bank Account Holder Name</td>
          <td>{{profile.bankAccountHolderName}}</td>
        </tr>
        <tr>
          <th scope="row">25</th>
          <td class="text-uppercase">Account Number</td>
          <td>{{profile.accountNumber}}</td>
        </tr>
        <tr>
          <th scope="row">26</th>
          <td class="text-uppercase">Ifsc Code</td>
          <td>{{profile.ifscCode}}</td>
        </tr>
        <tr>
          <th scope="row">27</th>
          <td class="text-uppercase">Bank Name</td>
          <td>{{profile.bankName}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
<div id="pdfdata" #pdfdata style="display: none;">
  <table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;">
    <tr>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Photo</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;"><img src="{{profile.photo}}" alt="Photo" width="200" height="200"></td>
    </tr>
    <tr>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Adhar</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{profile.Adhar}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">First Name</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{profile.firstName}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Last Name</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{profile.lastName}}</td>
    </tr>
    <tr>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Phone</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{profile.phone}}</td>
    </tr>
  </table>
</div>
<div *ngIf="showloader" id="loader"></div>