<div class="container" *ngIf="!showloader">

    <div class="d-flex justify-content-center">
        <h4 class=" mt-5">{{ isNew() ? 'Create' : 'Edit' }} Disbursement </h4>
    </div>
    <div class="d-flex justify-content-center">
        <img [src]="img">
    </div>
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">ID</label>
            <input autocomplete="off" type="text" class="form-control form-control-sm" formControlName="id" id="id"
                readonly>
        </div>

        <div class="form-group">
            <label for="Adhar">Adhar</label>
            <input maxlength="60" autocomplete="off" type="text" [ngClass]="{'is-invalid' : hasErrors('Adhar') && isTouched('Adhar'),
                            'is-valid' : !hasErrors('Adhar') && isTouched('Adhar')}"
                class="form-control form-control-sm" formControlName="Adhar" id="Adhar">
            <div *ngIf="hasError('Adhar', 'required')" class="invalid-feedback">
                Adhar is required
            </div>
            <div *ngIf="hasError('Adhar', 'minlength') || hasError('Adhar', 'maxlength')" class="invalid-feedback">
                Must be 12 characters
            </div>
        </div>

        <div class="form-group">
            <label for="Amount">Amount</label>         

                <select maxlength="60" autocomplete="off" type="text" [ngClass]="{'is-invalid' : hasErrors('Amount') && isTouched('Amount'),
                'is-valid' : !hasErrors('Amount') && isTouched('Amount')}"
    class="form-control form-control-sm" formControlName="Amount" id="Amount">                
                    <option value="20000">20000</option>
                    <option value="30000">30000</option>
                    <option value="40000">40000</option>
                    <option value="40000">50000</option>                  
                  </select>

            <div *ngIf="hasError('Amount', 'required')" class="invalid-feedback">
                Amount is required
            </div>
            <div *ngIf="hasError('Amount', 'minlength') || hasError('Amount', 'maxlength')" class="invalid-feedback">
                Must be 5 characters
            </div>
        </div>

        <button class="btn bg-primary text-light mr-2" [disabled]="!dataForm.valid && !!dataForm.pristine">
            Save
        </button>

    </form>

</div>
<div *ngIf="showloader" id="loader"></div>