<div class="container">

    <!-- <div class="d-flex justify-content-center">
        <h4 class=" mt-5">Customer</h4>
    </div> -->

    <ng-template #nodatas>

        <div id="loader"></div>

      

    </ng-template>
  

    <ng-template [ngIf]="userdatas.length > 0" [ngIfElse]="nodatas">        
          
          <div class="form-row">
            <div class="form-group col-md-4">
                 
                <button class="btn btn-sm btn-outline-primary mt-4 " (click)="Export()">
                    Export to Excel
                </button>  &nbsp;
                
                
            </div>         
            <div class="form-group col-md-7">
                
            </div>
            <div class="form-group col-md-1">
                <select class="form-control mt-4" name="pagesize" id="pagesize" [(ngModel)]="pagesize" (change)="onChangePageSize()">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                  </select>
            </div>
          </div>

        <ag-grid-angular 
            [gridOptions]="gridOptions" 
            [enableSorting]="true" 
            [pagination]="true"  
            [enableFilter]="true" 
            style="width: 100%; height: 500px;" 
            class="ag-theme-balham" 
            [rowData]="userdatas"
            [columnDefs]="columnDefs"           
          
        ></ag-grid-angular>
        
            <div id="pdfdata" #pdfdata style="display: none;">
                   <table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;" >
                    <thead>
                        <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">ID</th>
                        <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">QN</th>
                    </thead>
                    <tr *ngFor="let q of userdatas" >
                        <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{q.CId}}</td>
                        <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{q.qn}}</td> 
                    </tr>
                   </table> 
            </div>
    </ng-template>

</div>